.page-title {
  display: block !important;
  text-align: center !important;
  font-size: 2rem !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.posts-container {
  width: 100%;
}
.ui.header.profile-header {
  margin-top: 30px !important;
  margin-bottom: 30px;
  width: 190% !important;
}

.posts-grid {
  margin-bottom: 20px !important;
}

.home-container {
  display: flex !important;
  justify-content: space-between !important;
}

.user-container {
  width: 50%;
}

.outer-home-container {
  margin-right: 10px !important;
}

.home-suggestions {
  padding: 15px 15px 15px 15px !important;
}
